//$body-bg:                   $white !default;
//$body-color:                $gray-900 !default;




  


$theme-colors:(
"primary": #00ffff,
"secondary": #111360
);

// #region BUTTONS

$btn-border-radius: 50px;
$btn-border-radius-lg: 50px;

$btn-padding-y-lg:            20px;
$btn-padding-x-lg:            40px;
$btn-font-size-lg:            1.5rem;
$btn-line-height-lg:          1;

//$btn-transition: all 2s ease-in-out;

// #endregion

@import "node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-family: "Roboto", sans-serif;
}

header{
    height: 100vh;
    //make this pixels in media query for small screens
    background: url(../images/heroSection.jpg) no-repeat center center/cover;


    h2{
        font-size: 9.3rem;
        //make text smaller on small screens
        //Simplest way is to use dimensions in % or em. Just change the base font size everything will change.
        // @media (max-width: @screen-xs) {
        //     body{font-size: 10px;}
        // }
        
        // @media (max-width: @screen-sm) {
        //     body{font-size: 14px;}
        // }
        
        font-family: open sans, sans-serif;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1.1rem;

    }

    span{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        font-size: 3rem;
        letter-spacing: 0;
        font-family: open sans, sans-serif;
        color: #fff;
        font-weight: 700;
        
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13rem;
        font-weight: 100;
        letter-spacing: -5px;
        line-height: 1;
        text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad;
        color: #fff;

    }

    .no-padding{
        padding: 0;
        margin: 0;
    }
}

.py-10{
    padding: 6rem 0;
}

.btn{
    transition: all .6s;
}

.btn-primary:hover{
    background-color: #111360;
    color: #00ffff;
    border-color: #111360;
}

.btn-secondary{
    font-size: 1.2rem;
    background-color:  rgba(13,0,158,.3);
    box-shadow: 0 0 20px 11px rgba(81,74,158,.35);
    font-weight: 500;
    border-radius: 30px;
}

.btn-secondary:hover{
    background: rgba(255,0,174,.76);
}


#cards{
    background-color: #000;
    .container-fluid{
        background: url(../images/background2-1.jpg) no-repeat center center/cover;
        .row{
            .col{
                h1{
                    font-size: 5.625rem;
                    font-family: open sans, sans-serif;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: -.9px;
                    color: #fff;
                    text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad;
                    margin: 5rem 0;
                }
            }
        }
    }
}

// #region 3d transform cards
.scene {
    width:22em;
    height:22em;
    perspective:60em;
    z-index: 500;
    overflow: hidden;
    
  }
  .scene:hover > .cube{
    transform: rotateY(-180deg);
  }

  .cube {
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition: all 1s;

    img{
        width: 40%;
   }
   p{
       line-height: 1.5rem;
       margin-top: .8rem;  
   }
  }

  .face {
    width:100%;
    height:100%;
    position:absolute;
    
    color:#FFF;
    line-height:10em;
    text-align:center;
  }

.front {
     transform: rotateY(0deg) translateZ(8em);

}
.back {
    
     transform: rotateY(180deg) translateZ(4em);
     
     p{
        width: 80%;
        //height: 100%;
        transform: translateY(110%);
    }
}
.center{
    transform: rotateY(180deg) translateZ(-2.5em);
    background: url(../images/tri.png) no-repeat center center/cover;
    z-index: -1;
    
}

// .top    { transform: rotateX(90deg) translateZ(4em); }
// .bottom { transform: rotateX(-90deg) translateZ(4em); }
// .right  { transform: rotateY(90deg) translateZ(4em);  }
// .left   { transform: rotateY(-90deg) translateZ(4em); }

// #endregion


// #region TESTIMONIALS
.testimonials{
    background: linear-gradient(rgba(15,0,76,0.34),rgba(15,0,76,0.34)) ,url(../images/background3.jpg) no-repeat center center/cover;
    border-top: #00ffff solid 2px;
    border-bottom: #00ffff solid 2px;
    height: 700px;
    background-attachment: fixed;


    h1{
        font-size: 3.5rem;
        font-family: open sans, sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: -.9px;
        color: #fff;
        text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad;
        
    }

    .testimonial{
        padding: 0;
        margin: 0;
        margin-left: 20px;
        margin-right: 0;
        font-size: 14px;
        line-height: 1.5;
        color: #fff;

        .name{
            font-weight: 600;
            margin-bottom: 0 !important;
        }
    }

}

hr{
    margin: 0;
    border: 1px solid rgba(255, 255, 255, 0.952);
    width: 90%;
    padding-left: 5%;
}

.testimonial-text{
    color: #fff;
    font-size: 14px;
    margin-top: 0.5rem;
}

// #endregion

// #region PRICING
.pricing{
    background: url(../images/space2.jpg) no-repeat center center/cover;
    height: 100%;
    padding-bottom: 10%;

    h1{
        font-size: 3rem;
        font-family: open sans, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: -.9px;
        color: #fff;
        text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad
    }
    .lead{
        color: #fff;
        font-weight: 400;
        font-size: 18px;
    }

    .big-heading{
        margin-top: 15%;
    }

    #demo{
        color: #fff;
        font-size: 3.1rem;
        font-weight: 100;
        font-family: 'Space Mono', monospace, sans-serif;
        margin: 3rem 0;
    }

    .card-pricing{
        color: #fff;
        height: 500px;
        background: rgba(0, 0, 0, 0.288);
        h2{
            text-transform: uppercase;
            font-weight: 600;
            line-height: 1.2;
            font-size: 1.5rem;
            padding: 1rem;
        }


    }

}
  
  .pricing .card {
    border: none;
    border-radius: 0;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  .card{
      background: rgba(0, 0, 0, 0.295);
      color: #fff;
  }

  .btn-primary{
    color: #fff;
    background: #000;
    opacity: 1;
    border: #000;
  }
  .btn-primary:hover{
      color: #000;
      background: #00ffff;
  }




  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.623);
      background: rgba(0, 0, 0, 0.705);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

// #endregion PRICING