//$body-bg:                   $white !default;
//$body-color:                $gray-900 !default;

$theme-colors:(
"primary": #00ffff,
"secondary": #111360
);

// #region BUTTONS

$btn-border-radius: 50px;
$btn-border-radius-lg: 50px;

$btn-padding-y-lg:            20px;
$btn-padding-x-lg:            40px;
$btn-font-size-lg:            1.5rem;
$btn-line-height-lg:          1;

//$btn-transition: all 2s ease-in-out;

// #endregion

@import "node_modules/bootstrap/scss/bootstrap.scss";

body{
    font-family: "Roboto", sans-serif;
}

header{
    height: 100vh;
    background: url(../images/heroSection.jpg) no-repeat center center/cover;

    h2{
        font-size: 9.3rem;
        font-family: open sans, sans-serif;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1.1rem;

    }

    span{
        writing-mode: vertical-lr;
        text-orientation: mixed;
        font-size: 3rem;
        letter-spacing: 0;
        font-family: open sans, sans-serif;
        color: #fff;
        font-weight: 700;
        
    }

    h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13rem;
        font-weight: 100;
        letter-spacing: -5px;
        line-height: 1;
        text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad;
        color: #fff;

    }

    .no-padding{
        padding: 0;
        margin: 0;
    }
}

.btn{
    transition: all .6s;
}

.btn-primary:hover{
    background-color: #111360;
    color: #00ffff;
    border-color: #111360;
}


#cards{
    background-color: #000;
    .container-fluid{
        background: url(../images/background2-1.jpg) no-repeat center center/cover;
        .row{
            .col{
                h1{
                    font-size: 5.625rem;
                    font-family: open sans, sans-serif;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: -.9px;
                    color: #fff;
                    text-shadow: 0 0 20px #fff,0 0 10px #fff,0 0 50px #ff0fad,0 0 50px #ff0fad,0 0 40px #ff0fad,0 0 100px #ff0fad,0 0 75px #ff0fad;
                    margin: 5rem 0;
                }
            }
        }
    }
}

// #region 3d transform cards
.scene {
    width:22em;
    height:22em;
    perspective:60em;
    z-index: 500;
    overflow: hidden;
    
  }
  .scene:hover > .cube{
    transform: rotateY(-180deg);
  }

  .cube {
    width:100%;
    height:100%;
    position:relative;
    transform-style:preserve-3d;
    transition: all 1s;

    img{
        width: 40%;
   }
   p{
       line-height: 1.5rem;
       margin-top: .8rem;  
   }
  }

  .face {
    width:100%;
    height:100%;
    position:absolute;
    
    color:#FFF;
    line-height:10em;
    text-align:center;
  }

.front {
     transform: rotateY(0deg) translateZ(8em);

}
.back {
    
     transform: rotateY(180deg) translateZ(4em);
     
     p{
        width: 80%;
        //height: 100%;
        transform: translateY(110%);
    }
}
.center{
    transform: rotateY(180deg) translateZ(-2.5em);
    background: url(../images/tri.png) no-repeat center center/cover;
    z-index: -1;
    
}

// .top    { transform: rotateX(90deg) translateZ(4em); }
// .bottom { transform: rotateX(-90deg) translateZ(4em); }
// .right  { transform: rotateY(90deg) translateZ(4em);  }
// .left   { transform: rotateY(-90deg) translateZ(4em); }

// #endregion
